/* Colors and fronts*/

body{
 background: rgb(254,245,237);
 color: rgb(50, 50, 50);
 font-family: 'Lora', serif;
 font-size: 16px;
 font-weight: lighter;
}
h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	color: #ADC2A9;
}
h1 {
	color: #ADC2A9;
	font font-family: Helvetica;
	font-size: 20px;
	font-weight: 400;
}
h2 {
  color : #ADC2A9;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 400;
}
a{
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: #99A799;
	font-weight: bold;
	font-size: 16px;
}
a:hover {
	color: #ADC2A9;
}


div {

}



/*. Custom design with class */

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px){
	.container {
		width: 600px;
	}
}

@media (max-width: 500px){
	.container {
		width: 400px;
	}
}
.card-white {
	background: white; 
	padding: 40px;  
	box-shadow: 0px 10px 30px rgb(0, 0, 0, 0.1);
	margin: 20px 0px;
	text-align: center; 
	border-radius: 4px;
}


.img-circle {
	border-radius: 50%;
}

.btn-pink {
	background-color: rgb(254,245,237);
	color:  #99A799;
	padding: 15px 20px;
	border-radius: 2px;
}

.btn-pink:hover {
	background-color: rgb(254,245,237);
	color:  #ADC2A9;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding: 10px;
}

.list-inline i{
	font-size: 50px;
	color: rgb(230, 230, 230);
}

.list-inline i:hover{
	color: rgb(230, 230, 230);
	background-color: pink;

}

/*. Design adjusments using id (1% design remaining) */

#introduction p {
	margin-bottom: 40px;
}














